prometheus:
  prometheusSpec:
    enableRemoteWriteReceiver: true
    enableFeatures:
      - remote-write-receiver
    resources:
      requests:
        cpu: "200m"
        memory: "450Mi"
kubeStateMetrics:
  enabled: true
nodeExporter:
  enabled: true
alertmanager:
  enabled: true
  alertmanagerSpec:
    resources:
      requests:
        cpu: "100m"
        memory: "50Mi"
grafana:
  enabled: true
  resources:
    requests:
      cpu: 200m
      memory: 256Mi